{% extends "Base.html" %}

{%  block title %}
    Woolworth&coles Trading And Management System
{%  endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/efficientSimilarityJoin.css')}}">
    <script src="{{ url_for('static', filename="js/efficientSimilarityJoin.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="head-div">
        <img id='small-title-img' style='display:none' src="{{ url_for('static', filename='images/pyspark.jpg') }}" alt="pyspark">
        <div id="head-description">
            <h1>基于Pyspark的文本高效相似度链接</h1>
            <h3>一种高效的计算两文本每行记录Jaccard相似度的方式。</h3>
            <button id='download-button' type="button" class="btn btn-dark"><i class="bi bi-arrow-right">下载源码</i></button>
        </div>
        <img src="{{ url_for('static', filename='images/pyspark.jpg') }}" alt="pyspark">
    </div>
    <div id="main-description">
        <h1>项目要求</h1>
        <h5>给定记录R（文本1中的记录）和S（文本2中的记录）的两个集合，相似度函数sim(R，S)，R和S之间的集合相似度连接的阈值τ是找到所有记录对R(来自R)和S(来自S)，使得sim(R, S) >= τ。在本项目中使用Jaccard计算similarity相似度。</h5>
        <img style="width:40%; height:auto;" src="{{ url_for('static', filename='images/simiarityprojectdescription.png') }}" alt="simiarityprojectdescription.png">
        <h5>给定上述示例，集合τ=0.5，结果为(r1, s1)(相似度0.75)，(r2, s2)(相似度0.5)，(r3, s1)(相似度0.5)，(r3, s2)(相似度0.5)。</h5>
        <h1>项目思路概要</h1>
        <h5>&#8226;使用Pyspark对两文本每行数据进行Flag,RecordID,Token List的划分，计算全局词频并对Token List排序。</h5>
        <img style="width:90%;" src="{{ url_for('static', filename='images/SimilarityJoinProcess1.png') }}" alt="SimilarityJoinProcess1">
        <h5>&#8226;计算Token List的Prefix Filtering长度，并根据Prefix进行拆分。</h5>
        <img style="width:40%;" src="{{ url_for('static', filename='images/SimilarityJoinProcess2.png') }}" alt="SimilarityJoinProcess2">
        <h5>&#8226;对数据进行Jaccard Constraint条件过滤并计算Jaccard Similarity。</h5>
        <img style="width:40%;" src="{{ url_for('static', filename='images/JaccardSimilarityConstraints.png') }}" alt="JaccardSimilarityConstraints">
        <h5>&#8226;对计算结果进行排序去重并输出到文档。</h5>
{#        <h1>技术架构</h1>#}
{#        <div id="tech-div">#}
{#            <div><h5>系统采用B/S架构，前后端分离。前端使用React，JoyUI，DOM等技术，后端使用Flask，Flask_Restx，Yolov8，Flask-mail，JWT等技术，数据库为Sqlite3。</h5></div>#}
{#            #}
{#        </div>#}
    </div>




{%  endblock %}